@import '../../scss/style.scss';


.creators-slider {
   margin-top: 24px;

   & .swiper {
      overflow: visible;
      padding-bottom: 24px;
   }

   & .swiper-slide {
      max-width: 245px;
      width: 100%;
   }

   & .swiper-scrollbar {
      left: 0 !important;
      right: 0 !important;
      height: 5px !important;
      width: 100% !important;
   }

   & .swiper-scrollbar-drag {
      background: var(--light-gray);
   }
}