@import '../../scss/style.scss';

//====================================================================================================

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 56px;
	background-color: var(--header);
	border-radius: 0px 0px 32px 32px;
	box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.05);
	position: fixed;
	z-index: 10;

	&__container {
		width: 100%;
	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		gap: 16px;

		@media (max-width:$mobileSmall){
			gap: 8px;
		}
	}

	&__logo {
		@include adaptiveValue("margin-right", 9, 0);
		display: inline-block;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 47px;
			height: 47px;
		}
	}

	&__search {
		width: 100%;

		form {
			border-radius: 12px;
			background-color: #1D2228;
			position: relative;

			input {
				background-color: #1D2228;
				width: 100%;
				height: 32px;
				
				&::placeholder {
					color: rgba(255, 255, 255, 0.50);
					font-size: 12px;
					font-weight: 600;
					line-height: normal;
				}
			}

			button {
				position: absolute;
				top: 50%;
				left: 12px;
				width: 20px;
				height: 20px;
				transform: translateY(-50%);
			}
		}
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__button {
		@extend %button;

		@media (max-width:$mobileSmall){
			display: none; 
		}

		&.mobile {
			display: none;

			@media (max-width:$mobileSmall){
				display: block; 
			}
		}
	}
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
