@import '../../../scss/style.scss';


.creator {
   @include adaptiveValue("padding-top", 40, 20);
   @include adaptiveValue("padding-bottom", 20, 10);

   &__main {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @media (max-width:$mobile){
         flex-direction: column;
      }
   }

   &__functional {
      margin-left: 20px;
      margin-top: 4px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      align-items: center;
      justify-content: center;

      @media (max-width:$mobileSmall){
         row-gap: 12px;
      }

      & .followers {
         margin-right: 16px;
      }

      & .button-follow {
         margin-right: 12px;
      }

      @media (max-width:$mobile){
         margin: 15px 0px 0px 0px;
      }

      @media (max-width:$mobileSmall){
         grid-template-columns: repeat(2, auto);
      }
   }

   &__info {
      margin-top: 24px;
   }

   &__social {
      display: grid;
      grid-template-columns: repeat(4, auto);
      align-items: center;
      max-width: max-content;
      width: 100%;

      @media (max-width:$mobileSmall){
         grid-template-columns: repeat(2, auto);
         gap: 10px;
      }
   }

   &__item {
      max-width: max-content;

      &:not(:first-child) {
         margin-left: 24px;
      }

      @media (max-width:$mobileSmall){
         &:nth-child(3) {
            margin-left: 0;
         }
      }
   }

   &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform .3s ease-in-out;

      img {
         width: 20px;
         height: 20px;
      }

      span {
         display: inline-block;
         margin-left: 5px;
      }

      @media (any-hover: hover){
         &:hover{
            transform: scale(1.05);
         }
      }
   }

   &__text {
      margin-top: 16px;
      font-weight: 500;
      line-height: 18px;
      
      max-width: 1060px;
      width: 100%;

      span {
         color: var(--light-gray);
      }
   }
}