//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 12px !important;
	color: var(--text-white);
	width: 100%;
	display: block;
	padding: 6px 20px 6px 40px;
	border: 1px solid transparent;
	font-weight: 500;
	&._form-focus {
	}
	&._form-error {
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}
