@import '../../../scss/style.scss';


.art-name {
   @include adaptiveValue("padding-top", 40, 20);
   @include adaptiveValue("padding-bottom", 40, 20);

   &__body {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      gap: 16px;

      @media (max-width:$mobile){
         flex-direction: column;
      }
   }

   &__info {
      max-width: 516px;
      width: 100%;
      margin-bottom: 29px;

      @media (max-width:$mobile){
         max-width: 100%; 
      }
   }

   &__block {
      margin-top: 20px;
   }

   &__title {
      @extend %h1-title;
   }

   &__text {
      margin-top: 12px;
      font-size: 14px;
      font-weight: 500;
      line-height: 128.5%;

      span {
         color: var(--light-gray);
      }
   }

   &__box {
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      @media (max-width:$mobileSmall){
         flex-direction: column;
         align-items: flex-start;
      }
   }

   &__sold {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      font-weight: 600;
      line-height: normal;
   }

   &__sold-text {
      color: var(--light-gray);
      font-size: 14px;
   }

   &__sold-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      img {
         width: 19px;
         height: 19px;
      }
      span {
         font-size: 16px;
      }
   }

   &__holder {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
   }

   &__button {
      @extend %button;
      padding: 12px 32px;
      font-size: 14px;
   }

   &__slider {
      max-width: 786px;
      width: 100%;
      overflow: hidden;
   }

   & .swiper {
      padding-bottom: 29px;

      .swiper-slide {
         max-width: 519px;
         width: 100%;
      }
      .swiper-slide-active {
         transform: translate(0) !important;
      }
      .swiper-pagination {
         bottom: 0 !important;
         text-align: left !important;
         display: flex;
         align-items: center;
         gap: 11px;
      }
      .swiper-pagination-bullet {
         width: 95px;
         height: 5px;
         margin: 0 !important;
         border-radius: 99px;
         background: rgba(255, 255, 255, 0.15);
      }
      .swiper-pagination-bullet-active {
         background: rgba(255, 255, 255, 0.50);
      }
   }

  
   

   &__image {
   
      img {
         width: 100%;
         height: 100%;
      }
   }
}