@import '../../../scss/style.scss';


.tabs-cards {
   @include adaptiveValue("padding-top", 20, 10);
   @include adaptiveValue("padding-bottom", 50, 25);

   &__filter {
      display: flex;
      align-items: center;
   }

   &__button {
      color: var(--light-gray);
      font-size: 18px;
      font-weight: 700;
      transition: all .3s ease-in-out;

      &:not(:first-child) {
         margin-left: 24px;
      }

      &.active {
         color: var(--text-white);
         text-decoration: none !important;
      }

      @media (any-hover: hover){
         &:hover{
            text-decoration: underline;
         }
      }
      &:active {
         text-decoration: underline;
      }
   }
}